/* YOUR CSS RULES GO HERE */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3b5998;
}

a {
  color: #00B7FF;
}
.form-control {
  margin-bottom: 20px;
}
