/* YOUR CSS RULES GO HERE */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container{
	max-width: 50vw;
}

.panel-footer{
	background-color: white;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;


}


.panel-body  {
    word-break:break-all
}