<h1>Creat a new project</h1>
<form class="form-group" method="post">
<div class="form-group">
<label for="inputPostUser">User</label>
<input type="text" name="user">
</div>
<div class="form-group">
<label for="inputPostTitle">Title</label>
<input type="text" name="title">
</div>
<div class="form-group">
<label for="inputPostDescription">Description</label>
<input type="text" name="description">
</div>
<div class="form-group">
<label for="inputGoal">Goal (USD)</label>
<input type="text" name="goal">
</div>
<input data-provide="datepicker" <div class="input-group date" data-provide="datepicker">
  <input type="text" class="form-control">
   <div class="input-group-addon">
    <span class="glyphicon glyphicon-th"></span>
  </div>
</div>>
 <div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>
<div class="form-group">
    <label class="control-label">Categories</label>
        <select name="category" class="form-control">
          <option>Music</option>
          <option>Sports</option>
          <option>Tech</option>
          <option>Games</option>
          <option>Animals</option>
          <option>Idek</option>
        </select>
</div>
</div>
<button type="submit" class="btn btn-default">Submit</button>
</form>
<form action="../projects?complete=false">
<button type="submit" class="btn btn-default">Return to project list</button>
</form>
</div