<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>

<body>
  <form action="/login" method="POST">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">Login</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="username" placeholder="Username">
          </div>
        </div>
        <div class="text-right">
          <button class="btn btn-primary" type="submit">Register</button>
        </div>
      </div>
    </div>
  </form>
</body>

</html>
