<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
  <h1>Create new post</h1>

  <p>{{error}}</p>

  <!-- This form should send date, text, and title for the post. Get the username
  from the cookies! -->

  <form action="/posts" method="POST">
    <!-- YOUR CODE HERE -->
    <label class="col-sm-2 control-label"> Title</label>
       <div class="col-sm-10">
         <input type="text" name="title"  required>       
       </div>  
    <label class="col-sm-2 control-label"> Body</label>
        <div class="col-sm-10">
         <input type="text" name="body" required>
        </div>
   <input type="submit">
     


    
  </form>

</body>
</html>
