<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>

<body>

  <p>{{error}}</p>

  <!-- This form should send date, text, and title for the post. Get the username
  from the cookies! -->

  <form action="/posts" method="POST">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label"><h1>Create New Post</h1></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="title" placeholder="title" />
            <textarea class="form-control" name="content" placeholder="Content" rows="5"></textarea>
          </div>
        </div>
        <div class="text-right">
          <button class="btn btn-primary" type="submit">Post</button>
        </div>
      </div>
    </div>
  </form>

</body>

</html>
