<h1>Posts</h1>

{{#each posts}}
<article>
  <h2>{{title}}</h2>
  <p>{{text}}</p>
  <strong>{{author}}</strong>
  {{date}}
</article>
<hr />
{{/each}}

<p><a href="/posts/new">New Post</a></p>
<p>
  <a href="/posts?order=ascending">View all Ascending</a>
  <a href="/posts?order=descending">View all Descending</a>
</p>
