<!DOCTYPE html>
<html>
<head>
  <title>Create Post</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
  <h1>Create new post</h1>

  <p>{{error}}</p>

  <!-- This form should send date, text, and title for the post. Get the username
  from the cookies! -->

  <form action="/posts" method="POST">
    <!-- YOUR CODE HERE -->
    <div class="form-group">
      <div class="col-sm-8">
        <input type="text" class="form-control" name="postTitle" placeholder="Post Title">
      </div>
      <div class="col-sm-8">
        <textarea type="text" class="form-control" name="postBody" rows="3" placeholder="What's on your mind?"></textarea>
        <button type="submit" class="btn btn-primary" style="float:right;">Submit</button>
      </div>
    </div>

  </form>

</body>
</html>
