<!DOCTYPE html>
<html>
<head>
  <title>Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<!-- Iterate over al the posts using {{#each posts}} {{title}} {{/each}} to
display them on the page. Add a couple of buttons to sort ascending/descending
and to create new post! -->


<!-- YOUR CODE HERE -->
	<form action="/posts/new" method="GET">
		<button type="submit" class="btn btn-primary">New Post</button>
	</form>
	<form action="/posts" method="GET">
		<button type="submit" name="order" value="ascending" class="btn btn-primary">Ascending</button>
		<button type="submit" name="order" value="descending" class="btn btn-primary">Descending</button>
	</form>
{{#each posts}}
	<p>{{title}}
	{{body}}
	{{date}}</p>
{{/each}}

</body>
</html>
