<h1>{{title}}</h1>
<p>Welcome to the page of {{title}}</p>
    <nav>
        <ul>
        <li class="logo"> Horistarters</li>
        <li> <a href="/projects">view current projects listed</a> </li>
        <li> Start a project</li>
        <li> About us</li>
        </ul>
    </nav>
<body>
 <h1>Horizon Starter</h1>
  <div class="well">
    <h2>Title: Make Joost rich</h2>
    <h3>Description: Let's all donate to Joost</h3>
      <a href="/project/576331d355fe315c2fca24cd">View project</a>
 </body>
