<h1>Horizon Starter</h1>
<br>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Create a New Project</h3>
	</div>
	<form method="post">
	<div class="panel-body">
		<div class="form-group">
			<label for="title">Project Title</label>
			<input type="text" class="form-control" placeholder="Project Title" name = "title" id = "title">
		</div>
		<div class="form-group">
			<label for="title">Description</label>
			<textarea type="text" class="form-control" rows = "5" name = "description" id = "description"></textarea>
		</div>
		<div class="form-group">
			<label for="title">Category</label>
			<select id="category" name="category" class="form-control">
				<option>Category!!!</option>
				<option>LOL</option>
				<option>HI</option>
				<option>asdf</option>
			</select>
		</div>
		<div class="form-group">
	        <label for="amount">Fundraising goal</label>
	        <div class="input-group">
	            <div class="input-group-addon">$</div>
	            <input type="text" class="form-control" id="goal" name="goal" placeholder="Amount" value="">
	            <div class="input-group-addon">.00</div>
	        </div>
    	</div>
		<div class="form-group">
	        <label for="start">Start date</label>
	        <input type="date" class="form-control" id="startDate" name="startDate" value="">
    	</div>
		<div class="form-group">
	        <label for="start">End date</label>
	        <input type="date" class="form-control" id="endDate" name="endDate" value="">
    	</div>
    	<button type="submit" class="btn btn-primary">Create</button>
	</div>
	</form>
</div>