<form class="form-inline" method="post">
	<div class="form-group">
		<label class="sr-only"> Email address </label>
		<input type="text" class="form-control" placeholder="Title" name="title">
	</div>
	<button type="submit" class="btn btn-default"> create project</button>
</form>
  
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  

<form method="post">
    <div class="form-group">
        <label for="title">Project Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Project title" value="">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" name="category" class="form-control">
              <option>Beer brands</option>
              <option>If it aint Dutch it aint much</option>
              <option>We love Holland</option>
              <option>Dutchpride</option>
              <option>Oranje</option>
        </select>
    </div>
    <div class="form-group">
        <label for="amount">Fundraising goal</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount" value="">
            <div class="input-group-addon">.00</div>
        </div>
    </div>
    <div class="form-group">
        <label for="start">Start date</label>
        <input type="date" class="form-control" id="start" name="start" value="">
    </div>
    <div class="form-group">
        <label for="end">End date</label>
        <input type="date" class="form-control" id="end" name="end" value="">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
  <!--           form end -->
          </div>
        </div>
  <!--       panel end -->
    
