<ul>
    {{#each projects}}
        <div class = "postBox">
            <li>Title: {{title}} </li>
            Description: {{description}}
            <a href = "/projects/{{_id}}"> View project </a>
        </div>
    {{/each}}
</ul>

<a href = "/new"> Create new project </a>
