<!DOCTYPE html>
<html>
  <head>
    <title></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/main.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Make Joost rich</h1>
<h3>Category: Beer brands</h3>
<h3>Fundraising goal: $1000</h3>
<h3>Total contributions: $120</h3>
<div class="progress">
    <div class="progress-bar" role="progressbar"
         style="width: 9%;min-width: 2em;">
      9%
    </div>
</div>
<h3>Start date: June 16, 2016</h3>
<h3>End date: June 17, 2016</h3>
<h3>About this project:</h3>
<p>dede</p>
<h3>Contributions:</h3>
    <div class="well">
        <h4>er contributed $12</h4>
        <p>we</p>
    </div>
<h3>Contribute to this project:</h3>
<form method="post">
    <div class="form-group">
        <input type="text" name="name" class="form-control" id="name"
               placeholder="Your Name" value="">
    </div>
    <div class="form-group">
        <input type="text" name="comment" class="form-control" id="comment"
               placeholder="Comment" value="">
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="amount" name="amount"
                   placeholder="Amount" value="">
            <div class="input-group-addon">.00</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Contribute</button>
</form>
<br/>
<a href="/">Back to all projects</a>

  </body>
</html>
