.nav-bar{
	background-color: #3b5998;
}
.post-container{
	height: 200px;
/*	background-color: green;*/
	display: flex;
	align-items: center;
}
.hold-box{
	height: auto;
	width: 50%;
	background-color: white;
	align-items: center;
	border: 1px solid;
	margin-top: 5px;
	margin-bottom: 5px;
}
.feed-container{
	/*background-color: yellow;*/
	height: 100%;
}
.hold-feed{
/*	background-color: yellow;*/
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
} 
.submit{
	height: 20px;
	width: 20px;
}
.feed-posts{
	height: 100px;
	width: 400px;
	display: flex;
	background-color: white;
	/*flex-wrap: wrap-reverse;*/
}
body{
	height: 100%;
}
.feed-posts{
	border: 1px solid;
	height: 500px;
}
.comment-button{
	margin-bottom: 2px;
}
.like-button{
	margin-bottom: 2px;
}