<form>
  <input type="text" name = "textInputName" value = "{{something}}">
  <input type="submit" value="Submit back to this page">
</form>


<!-- <form action="/test">
  <input type="text" name = "textInputName" value="some text here">
  <input type="submit" value="Submit">
</form> -->
