<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Put your user profile here</h1>

      <form>
      <fieldset>
       <div class="form-group">
          <label class="col-md-6 control-label">Username</label>
          <div class="col-md-6 inputGroupContainer">
            <div class="input-group">
              <input  name="first_name" placeholder="Username" class="form-control"  type="text">
            </div>
          </div>
        </div>

      </fieldset>
      </form>
    </div>
  </div>
</body>
</html>
