<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
    .row{display:inline-block;}
  </style>
</head>
<body>
  <div class="container">
    <h1>Put your registration form here</h1>
    <div><strong>Errors:</strong>{{errors}}</div>
    <div class="row">
      <form action="/register" method="post">
        <div class='col-sm-4'>First Name</div>
        <input class='col-sm-8' type="text" placeholder="First Name" name="firstName" required>
      <div class='col-sm-4'>Middle Initial</div>
        <input class='col-sm-8' type="text" placeholder="Middle Initial" name="middleInitial">
      <div class='col-sm-4'>Last Name</div>
        <input class='col-sm-8' type="text" placeholder="Last Name" name="lastName" required>
      <div class='col-sm-4'>DOB Month</div>
        <select class='col-sm-8' name="dobMonth">
          <option selected='selected'>Choose Month</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      <div class='col-sm-4'>DOB Day</div>
        <select class='col-sm-8' name="dobDay">
          <option selected='selected'>Choose Day</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
          <option>21</option>
          <option>22</option>
          <option>23</option>
          <option>24</option>
          <option>25</option>
          <option>26</option>
          <option>27</option>
          <option>28</option>
          <option>29</option>
          <option>30</option>
          <option>31</option>
        </select>
      <div class='col-sm-4'>DOB Year</div>
        <select class='col-sm-8' name="dobYear" placeholder='Select One'>
          <option selected='selected'>Select Year</option>
          <option>2000</option>
          <option>1999</option>
          <option>1998</option>
          <option>1997</option>
          <option>1996</option>
          <option>1995</option>
          <option>1994</option>
          <option>1993</option>
          <option>1992</option>
          <option>1991</option>
          <option>1990</option>
          <option>1989</option>
          <option>1988</option>
          <option>1987</option>
          <option>1986</option>
          <option>1985</option>
          <option>1984</option>
          <option>1983</option>
          <option>1982</option>
          <option>1981</option>
          <option>1980</option>
          <option>1979</option>
          <option>1978</option>
          <option>1977</option>
          <option>1976</option>
          <option>1975</option>
          <option>1974</option>
          <option>1973</option>
          <option>1972</option>
          <option>1971</option>
          <option>1970</option>
        </select>
        <div class='col-sm-4'>Password</div>
        <input class='col-sm-8' type="password" placeholder="Password" name="password" required>
        <div class='col-sm-4'>Retype Password</div>
        <input class='col-sm-8' type="password" placeholder="Repeat Password" name="password2" required>
        <div class='col-sm-4'>Sex</div>
          <select class='col-sm-8' name="gender">
            <option selected='selected'>Choose a Gender</option>
            <option>Female</option>
            <option>Male</option>
            <option>Prefer not to Say</option>
          </select>
          <div class='col-sm-4'>Subscribe to Newsletter</div>
            <input class='col-sm-8' type='checkbox' name="subscription">
          <div class='col-sm-4'>Biography</div>
          <input class='col-sm-8' type="textarea" placeholder="Biography..." name="biography" required>
          <div class='col-sm-4'>
          <input class='col-sm-8' type="submit">
        </div>
      </form>
    </div>
  </div>
</body>
</html>
