<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
  body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">

            <form class="form-horizontal" action="/register" method="post">

              {{#if errors}}
                {{#each errors}}
                  <div><strong>Errors:</strong>{{msg}}</div>
                {{/each}}
              {{/if}}

              <div class="form-group">
                <label class="control-label col-sm-3">First Name:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="firstName" placeholder="First Name">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Middle Initial:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="middleInitial" placeholder="Middle Initial">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Last Name:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="lastName" placeholder="Last Name">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">DOB Month:</label>
                <div class="col-sm-9">
                  <select class="form-control" name="dobMonth">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">DOB Day:</label>
                <div class="col-sm-9">
                  <select class="form-control" name="dobDay">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">DOB Year:</label>
                <div class="col-sm-9">
                  <select class="form-control" name="dobYear">
                    <option>2017</option>
                    <option>2016</option>
                    <option>2015</option>
                    <option>2013</option>
                    <option>2012</option>
                    <option>2011</option>
                    <option>2010</option>
                    <option>2009</option>
                    <option>2008</option>
                    <option>2007</option>
                    <option>2006</option>
                    <option>2005</option>
                    <option>2004</option>
                    <option>2003</option>
                    <option>2002</option>
                    <option>2001</option>
                    <option>2000</option>
                    <option>1999</option>
                    <option>1998</option>
                    <option>1997</option>
                    <option>1996</option>
                    <option>1995</option>
                    <option>1994</option>
                    <option>1993</option>
                    <option>1992</option>
                    <option>1991</option>
                    <option>1990</option>
                    <option>1989</option>
                    <option>1988</option>
                    <option>1987</option>
                    <option>1986</option>
                    <option>1985</option>
                    <option>1984</option>
                    <option>1983</option>
                    <option>1982</option>
                    <option>1981</option>
                    <option>1980</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Password:</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Repeat Password:</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" name="repeatPassword" placeholder="Repeat Password">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Gender:</label>
                <div class="col-sm-9">
                  <div class="radio">
                    <label><input type="radio" name="gender">Male</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="gender">Female</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="gender">Prefer not to say  </label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Sign Up for Newsletter:</label>
                <div class="col-sm-9">
                  <div class="checkbox">
                    <label><input type="checkbox" name="newsletter" > Remember me</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Biography</label>
                <div class="col-sm-9">
                  <textarea class="form-control" rows="3" name="biography"></textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                  <input type="hidden" class="form-control" name="registerDate" placeholder="RegisterDate">
                </div>
              </div>

              <div class="text-right">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
