<div class = "flexing">
	{{#each projects}}
		<a href="/projects/{{_id}}">
		<div class = "box">
			<div class = "words">
				<div class = "letters" >{{title}}</div>
			</div> 
			<div class = "body">
				{{description}}
			</div>
		</div>
		</a>
	{{/each}}
</div>


<button class = "btn btn-danger"> 
	<a id="hallo" href = "/new"> Create new project </a>
</button>