/* YOUR CSS RULES GO HERE */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bordered{
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px 0px 5px 5px;
  max-width: 400px
}
