<form>
	Title: <input type="text" name="title"><br>
	Fundraising Goal: <input type="text" name="goal"><br>
	Amount Raised: <input type="text" name="raised"><br>
	Category: <input type="text" name="category"><br>
	Description: <input type="text" name="description"><br>
	Start Date: <input type="text" name="startDate"><br>
	End Date: <input type="text" name="endDate"><br>
	<input type="submit">
</form>