<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Horizons Facebook</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="/js/bootstrap.min.js"></script> -->

  </head>
  <body>

    {{{body}}}

  </body>
</html>
