

  <p>
    Add one Bootstrap-style success notification and one warning notification
    to this page using partials.
  </p>


  {{> warning msg="everything is on fire!!"}}
  {{> success msg="good job succes woohoo"}}
