
  <p>
    Add one Bootstrap-style success notification and one warning notification
    to this page using partials.
  </p>

  {{> success msg = "good job"}}

  <!-- greater than tells you it is a partial -->
  <!-- success is the name of that partial layout file -->

  {{> warning msg = "OH NO"}}
