  <p>
    Add one Bootstrap-style success notification and one warning notification
    to this page using partials.
    {{> success msg="You did it!!!" signal = "Good job!"}}
    {{> warning msg="Warning!!!"}}
    {{> buttonPage btnClass = "danger" btnMsg = "Don't click me!"}}
  </p>
