  <p>
    Add one Bootstrap-style success notification and one warning notification
    to this page using partials.
  </p>
{{> success msg="Success!" alertType="success"}}
{{> success msg="This is a warning" alertType="warning"}}
