  <p>
    Add one Bootstrap-style success notification and one warning notification
    to this page using partials.
  </p>
  {{> success msg='second time successful msg!' }}
  {{> warning msg='You get a strange warning here even with nodemon' }}
