<p>
  Add one Bootstrap-style success notification and one warning notification
  to this page using partials.
</p>
  {{> success msgBold="Hooray!" msg="You have successfully viewed this message"}}
  {{> warning}}
