
  <p>
    Add one Bootstrap-style success notification and one warning notification
    to this page using partials.

  </p>

      {{> success message="You did it. Cool, I guess."}}
      {{> warning}}
