
  <p>
    Add one Bootstrap-style success notification and one warning notification
    to this page using partials.
    {{> success msg="Fanominal job"}}
    {{> warning msg="Be super cautious"}}
  </p>
