
<p>
  Add one Bootstrap-style success notification and one warning notification
  to this page using partials.
</p>
{{> warning msg="be careful"}}

{{> success msg="you make it"}}
{{> success msg="good job"}}
