
  <p>
    <!-- Add one Bootstrap-style success notification and one warning notification
    to this page using partials. -->
    {{>notification type="success" msg="YAY" msg-2="yay"}}
    {{>notification type="warning" msg="Wait, are you sure??" msg-2="cancel"}}
  </p>
