<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic Counter</title>
  </head>
  <body>
    <h1>Count: {{count}}</h1>

    <!-- Task 1
      Create a form with a button than when clicked sends a POST request
      to /decrement
<<<<<<< HEAD
=======

      The button should say "Increase" on it.
    -->
>>>>>>> master

      The button should say "Increase" on it.
    -->
<form method="POST" action="/increment">
  <input type="submit" value="Increase">
</form>
    <!-- Task 2
      Create a form with a button than when clicked sends a POST request
      to /decrement

      The button should say "Decrease" on it.
    -->
  </body>
</html>
