<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic Counter</title>
  </head>
  <body>
    <h1>Count: {{count}}</h1>

    <form action="/increment" method="post">
      <input type="submit" value="Increase">
    </form>

    <!-- Task 2
      Create a form with a button than when clicked sends a POST request
      to /decrement


      The button should "Decrease" on it.
    -->
    <form action="/decrement" method="POST">
      <input type="submit" value="Decrease">
    </form>
  </body>
</html>
