<!DOCTYPE html>
<html>
  <head>

    <!-- Task 1
      Create a form with a button than when clicked sends a POST request
      to /decrement

      The button should say "Increase" on it.
    -->

    <!-- Task 2
      Create a form with a button than when clicked sends a POST request
      to /decrement

<<<<<<< HEAD


      The button should "Decrease" on it.
=======
      The button should say "Decrease" on it.
>>>>>>> master
    -->
  </body>
</html>
