<form method='post' action='/login'>
  <span>
    <input type='text' name='name' value=''></br>
    <input type='password' name='password' value=''></br>
    <input type='submit' value="login"
  </span>
</form>
