<form method = "post">
  <input type="text" name="email" value={{emailtext}} "email..."></input>
  <input type="text" name="password" value={{passwordtext}} "password..."></input>
  <button type="submit">Submit</button>
</form>
<h1>Hi {{printname}}!</h1>
