<form method='post' action="/login">
  <span>YOUR CODE HERE</span><br>
  <input type="text" name="email" value=""><br>
  <input type="password" name="password" value=""><br>
  <input type="submit" name="submit" value="">
</form>
<h1>HI {{firstName}}</h1>
