<!DOCTYPE html>
<html>
  <form method='post' action = '/login'>
    <p>
      <input type='text' name='userName' value=''>Username</input>
    </p>
    <p>
      <input type='password' name='pwd' value=''>Password</input>
    </p>
    <input type='submit' name='' value='Login'>
  </form>

  <h1>{{username}}</h1>
  
</html>
