<form action>
  <input type="text" value='Your Email' name='emailAddress' /><br />
  <input type="password" value='password' name=passwordBox /><br />
  <input type="submit" value="" name="submitBox" /><br />
</form>
