<form method='post' action="/login">
  <span>Email: <input type="text" name="email" placeholder="Email"></span>
  <span>Password: <input type="password" name="password" placeholder="Password"></span>
  <span><input type="submit" value="Login"></span>
</form>
