<form>
  <span>
    <input type = "text" name = "{{}}">
    <input type = "password" name = "{{}}">
    <input type = "text" name = "{{}}">
    <input type = "radio" name = "gender" value = "male">
    <input type="radio" name="gender" value="female"> 
  <input type="radio" name="gender" value="other">
  </span>
</form>
