<form>
  <input type="text" value="{{username}}" name="username" placeholder="username"/>
  <br>
  <input type="password" value="{{password}}" placeholder='password'/>
  <br>
  <input type="text" name="full name" value="{{name}}" placeholder='full name'/>
  <br>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other<br>
  <input type="submit" value="Register">
</form>
