<form action= "/login" method="post">
  <span>
    <div>
    <input type="text" value="{{text}}" name="email" placeholder="email" />
  </div><div>
    <input type="text" value="{{text}}" name="password" placeholder="password" />
  </div><div>
    <input type="submit" value="Submit"/>
  </div>
<p>Hi {{name}}</p>



  </span>
</form>
