<form>
  {{#if formValue}}
    <h1>{{formValue}}</h1>
  {{else}}
  <h1>Default Header  </h1>
  {{/if}}

  <input type="text" name='text' value='{{formValue}}' placeholder="new headers">
  <input type="submit"value="change header">
</form>
