<form method="post">
  <span>
    User: <input type="text" name="user">
    Password: <input type="password" name="secret" value="">
    <input type="submit" value="Submit">
  </span>
</form>
<h2>User is {{user}}</h2>
