<form>
  <span>YOUR CODE HERE</span><br>
  <input type="text" placeholder="Username" name="username" value="{{username}}"><br>
  <input type="password" placeholder="Password" name="password" value="{{password}}"><br>
  <input type="text" placeholder="name" name="name" value="{{name}}"><br>
  <input type="radio" name="gender" value="male"> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other<br>
  <button type="button" name="button">Register</button>

</form>
