<form method="post">
  <input type="text" name="username" value="{{username}}" placeholder="Username">
  <input type="password" name="password" value="{{password}}" placeholder="Password">
  <input id="submit" type="submit" name="" value="Submit">
</form>


