<form>
  <span>
    <input type = "text" name = "username" placeholder = "Username">
    <input type = "password" name = "pass" value = "Password">
    <input type = "text" name = "name" value = "Name">
    <input type = "radio" name = "gender" value = "female"> Female
    <input type = "radio" name = "gender" value = "male"> Male
    <input type = "radio" name = "gender" value = "other"> Other
    <select>
      <option value="British Columbia">BC</option>
      <option value="Ontario">ON</option>
      <option value="Alberta">AB</option>
      <option value="Yukon">YK</option>
    </select>
    <input type = "submit" name = "Register" value = "Register">
  </span>
</form>

<!-- Create a register form (in views/example2.hbs) with the following inputs:

username (text input box)
password (password input box)
name (text input box)
gender: male/female/other (radio buttons) -->
