<h2>Register</h2>
<form>
  <span>
    <input type="text" name="username" value="{{formUser}}"><br>
    <input type="text" name="password" value="{{formPass}}"><br>
    <input type="text" name="name" value="{{formName}}"><br>
    <input type="radio" name="gender" value="male" checked> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other<br>
    <select name="state">
      <option value="abuja">Abuja</option>
      <option value="benue">Benue</option>
      <option value="crossrivers">Cross Rivers</option>
      <option value="delta">Delta</option>
    </select><br>
    <input type="submit" name="" value="Register">
  </span>
</form>
