<form>
  <h1> Please Register </h1>
  <span>
    <form>
      <input type="text" placeholder="username" value= "">
      <input type="password" placeholder="*********" value="">
      <input type="text" placeholder="name" value="">
      <p>
         <label>Gender</label>
         <input type = "radio"
                name = "radSize"
                id = "sizeSmall"
                value = "female"
                checked = "checked" />
         <label for = "sizeSmall">female</label>
         <input type = "radio"
                name = "radSize"
                id = "sizeMed"
                value = "male" />
         <label for = "sizeMed">male</label>
         <input type = "radio"
                name = "radSize"
                id = "sizeLarge"
                value = "other" />
         <label for = "sizeLarge">other</label>
       </p>
       <input type="submit" name="" value="Done Registering?">
    </form>
  </span>
</form>
