<form method="post" action="/login">
  <span>
    <h1>Login Page</h1>
    <input type="text" name="emailBox" value="{{email}}" placeholder="email address"/><br />
    <input type="password" name="passwordBox" value="{{password}}" placeholder="password"/><br />
    <input type="submit" value="Login" />
  </span>
</form>
