<form method="post" action="/login">

  <span>Email: </span><input type="text" name="email"></input>
  <span>Password: </span><input type="password" name="secret"></input><span>{{loginState}}</span>
  <input type="submit"></input>
</form>
