<form>
  <span>


<label>Username: <input type="text" name="username" value=""/> </label> <br>

<label>Password: <input type="password" name="password" value=""/> </label> <br>
<label>Name: <input type="text" name="name" value=""/> </label> <br>
<label>Female: <input type="radio" name="gender" value=""/> </label> <br>
<label>Male: <input type="radio" name="gender" value=""/> </label> <br>
<label>Other: <input type="radio" name="gender" value=""/> </label> <br>
<input type="submit" name="" value="Register"/> </label> <br>

</span>
</form>
