<form>
  <!-- YOUR CODE HERE -->
  <h1>
    {{#if inputbox}}
      {{inputbox}}
    {{else}}
      Default Header
    {{/if}}
  </h1>
  <input type="text" name="inputbox" value="{{inputbox}}">
  <input type="submit" name="submitbox" value="Change Header">
</form>
