<form>
  <input type="text" name="username" value="{{username}}"><br>
  <input type="password" name="password" value="{{password}}"><br>
  <input type="text" name="name" value="{{name}}"><br>

  <input type="radio" name="gender" value="male" checked>Male<br>
  <input type="radio" name="gender" value="female">Female<br>
  <input type="radio" name="gender" value="other">Other<br>
  <input type="submit" name="submit" value="Submit">
</form>
