<form>
  <input type="text" name="username" value ={{username}}>Username</input>
  <input type="password" name="password" value={{password}}>Password</input>
  <input type="text" name="name" value={{name}}>Name</input>
  <input type="radio" name="gender">Male</input>
  <input type="radio" name="gender">Female</input>
  <input type="radio" name="gender">Other</input>
  <input type="state" name="state">State</input>
  <input type="submit" name="submit">Register</input>
</form>
