<form action="">
  <!-- <span>YOUR CODE HERE</span> -->
  <div>
    <input type="text" value="{{username}}" name="username" placeholder="Username"/>
  </div>
  <div>
    <input type="text" value="{{password}}" name="password"/>
  </div>
  <div>
    <input type="text" value="{{name}}" name="name"/>
  </div>
  <div>
    <input type="radio" value="Male" name="gender"/> Male<br>
    <input type="radio" value="Female" name="gender"/> Female<br>
    <input type="radio" value="Other" name="gender"/> Other<br>
  </div>
  <select>
    <option value="tenesse">TN - Tenesse</option>
    <option value="Massachusetts">MA - Massachusetts</option>
  </select>
  <div>
    <input type="submit" value="Register"/>
  </div>
</form>
