<form>
    <span>
        <p>Username: <input type="text" name="uname" value="{{Username}}"></p>
        <p>Password: <input type="password" name="pword" value="{{Password}}"></p>
        <p>Name: <input type="text" name="name" value="{{Name}}"></p>
        <p>Gender: <br>
            <input type="radio" name="Gender" value="male"> Male <br>
            <input type="radio" name="Gender" value="female"> Female<br>
            <input type="radio" name="Gender" value="other"> Other </p>
        <select>
            <option value="volvo">This</option>
            <option value="saab">is</option>
            <option value="mercedes">an</option>
            <option value="audi">option.</option>
        </select>
    </span> <br>
    <input type="submit" name="" value="register">
</form>