<h1> {{formValue}} </h1>

<form>
  <input type = "text" name = "boxName" value = "">
  <input type = "submit" name = "" value = "Click this">

</form>

<!-- Create a GET / route that renders a page with a header and a form. -->
<!-- h1: A heading tag that's text is based on the input box (in the form). -->
<!-- form: A form with an input box and a submit button -->
