<form action = '/login' method = 'post'>
  <span>Log in</span><br>
  <input type="text" name="email1" value="" placeholder = 'email'><br>
  <input type="password" name="password1" value="" placeholder = 'password'><br>
  <input type = 'submit' name="Login" value='login'>
  <h2>Email: {{email}} </h2>

</form>
