<form>

  <input type="text" value="{{text}}" name="username" placeholder="Username" /><br>
  <input type="password" value="{{text}}" name="pwd" placeholder="Password" /><br>
  <input type="text" value="{{text}}" name="name" placeholder="Name" /> <br>


  <input type="radio" name="gender" value="male"> Male<br>
<input type="radio" name="gender" value="female"> Female<br>
<input type="radio" name="gender" value="other"> Other <br>

<input type="submit" value="Submit"/>
</form>
