
<span>
  <form method="post">
    <input type="text" value="{{user}}" name="user" placeholder="email..." />
    <input type="text" value="" name="text" placeholder="password..." />
    <input type="submit" value="Login" />
    <h2>Hi {{user}} !</h2>
  </form>
</span>
