<h2>Login</h2>
<form method="post">
  <span>
    Email: <input type="username" name="username" value=""><br>
    Password: <input type="password" name="password" value=""><br>
    <input type="submit" name="" value="Login">
  </span>
</form>
