<form>
<input type="text" name="userName" value="{{Username}}"><br>
<input type="password" name="password" value="{{Password}}"><br>
<input type="text" name="fullname" value="{{FullName}}"><br>
<input type="radio" name="gender" value="Male"> Male<br>
<input type="radio" name="gender" value="Female"> Female <br>
<input type="radio" name="gender" value="Other"> Other <br>
<input type="submit" name="Regbtn" value="Register">
</form>
