<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Example 2</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <h1 style="margin-left:100px">Form</h1>
    <form style="margin-left:100px" action="/submitted">
      <div class="input-group input-group-lg col-xs-3">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </span>
        <input class="form-control" name="username" type="text" placeholder="Username" value="{{username}}">
      </div>
      <div class="input-group input-group-lg col-xs-3">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-lock"></span>
        </span>
        <input class="form-control" name="password" type="password" placeholder="Password" value="{{password}}">
      </div>
      <div class="input-group input-group-lg col-xs-3">
        <input class="form-control" name="name" placeholder="Name" value="{{name}}">
      </div>
      <div class="input group input-group-lg">
        <div class="radio">
          <label><input type="radio" name="gender" value="female" {{#if female}}checked{{/if}}>Female</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="gender" value="male" {{#if male}}checked{{/if}}>Male</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="gender" value="other" {{#if other}}checked{{/if}}>Other</label>
        </div>
      </div>

      <input type="submit" class="btn btn-info" value="Submit">
    </form>
  </body>
</html>
