<form action="/login" method="post">
  <span>
  Username: <input type="text" name="username" value="{{username}}">
  Password: <input type="password" name="password" value="{{password}}"></span>
  <input type="submit" name="" value="Submit">

</form>
