<form method='post' action="/login">
  <input type="text" name="userName" value="Username"><br>
  <input type="password" name="password" value="Password"><br>
  <input type="submit" value="Login">
</form>

<h1>Hi + {{firstname}}!</h1>
