<form method="post" action = '/login'>

  User: <input type="text" name="user" value="">
  Password: <input type="password" name="pass" value="">
  <input type="submit" name="" value="Submit">


<h2>user: {{user}} password: {{pass}}</h2>



</form>
