<form>
  <!-- <span>YOUR CODE HERE</span> -->
  <input type="text" name="user" value="{{uservalue}}">
  <input type="text" name="pass" value="{{passvalue}}">
  <input type="text" name="firstname" value="{{firstnamevalue}}">
  <input type="text" name="gender" value="{{gendervalue}}">
  <input type="submit" name="" value="Register">
</form>
