<form action = "/login" method="post">
  <span>YOUR CODE HERE</span>
  <div>
    Username: <input type = "text" name="username" value ="{{user}}">
  </div>
  <div>
    Password: <input type="password" name="password" value="{{pass}}">
  </div>
  <div>
    <input type="submit" name="Submit">
  </div>

</form>
