<form>
  <span>
    <input type="text" name="username" value="user"><br>
    <input type="password" name="password" value="pw"><br>
    <input type="text" name="name" value="name"> <br>
    <input type="radio" name="gender" value="Male"> Male <br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="submit" name="" value="Submit">
  </span>
</form>
