<form action="/login" method="POST">
  <input type="text" value = "" name="username" placeholder="username"/><br>
  <input type="password" value = "" name="password" placeholder="password"/><br>
  <input type="submit"/>
</form>


