<form method="post">
  <span>
    <input type="text" name="usernameFld" value="{{username}}" placeholder="username"> <br>
    <input type="password" name="passwordFld" value="{{password}}" placeholder="password"> <br>
    <input type="submit" name="signInBtn" value="Sign In!"> <br>
  </span>
</form>
 
