<form action = "/login" method = "post">

  <span>
    <input type = "text" name = "email" placeholder = "Email">
    <input type = "password" name = "pass" placeholder = "Password">
    <input type = "submit" name = "login" value = "Login">
  </span>
</form>

<h1> Hi {{candy}} </h1>
