<form method="post" action="/login">
  <input type="text" name="email" value="" placeholder="Email"><br>
  <input type="password" name="password" value="" placeholder="Password"><br>
  <input type="submit" value="Submit">
</form>