
  <span>
    <form action="/info">
      <div>
        <input type="text" name="name" value="{{name}}" placeholder="username..." />
        <input type="text" name="anothertext" value="" placeholder="password..." />
        <input type="text" name="anothertext" value="" placeholder="name..." />
      </div>
      <div>
        <input type="radio" name="gender" value="male"> Male<br>
        <input type="radio" name="gender" value="female"> Female<br>
        <input type="radio" name="gender" value="other"> Other
      </div>
      <select name="states">
        <option value="ny">New York</option>
        <option value="cali">California</option>
        <option value="hello">Bostons</option>
        <option value="florida">Florida</option>
      </select>

      <input type="submit" value="Register" />

  </form>
  </span>
