<form action='/login' method ='post'>
  <span>
    <input type="text" name="email" value="">
    <input type="password" name="password" value="">
    <button type="submit" name="button"> Submit </button>
  </span>
</form>
