<form>
  <input type="text" name="email" value = "{{email}}" placeholder="Email address"/><br>
  <input type="text" name="password" value = "{{password}}" placeholder="Password"/><br>
  <input type="submit" value="Login"/>
</form>
<h1>Hi {{first_name}}!</h1>
