<!DOCTYPE html>
<html>
  <head>
    <title>Horizon Starter: {{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
  <a href="/projects">
	<img src="http://logonoid.com/images/kickstarter-logo.png" height=30px style="margin-left: 0; margin-bottom:15px"></a>
    {{{body}}}
  </body>
</html>
