<h1>Choose a category</h1>
	<li name="music"><a href ="/projects/?category=Music">Music</music></a></li>
    <li name="sports"><a href ="/projects/?category=Sports">Sports</a></li>
    <li name="tech"><a href ="/projects/?category=Tech">Tech</a></li>
    <li name="games"><a href ="/projects/?category=Games">Games</a></li>
    <li name="animals"><a href ="/projects/?category=Animals">Animals</a></li>
    <li name="idek"><a href ="/projects/?category=Idek">Idek</a></li>