<h1>Choose a category</h1>
<form>
	<li name="music">Music</li>
    <li name="sports">Sports</li>
    <li name="tech">Tech</li>
    <li name="games">Games</li>
    <li name="animals">Animals</li>
    <li name="idek">Idek</li>
</form>