<form class="form-group" method="post">
<div class="form-group">
<label for="inputPostTitle">Title</label>
<input type="text" name="title">
</div>
<div class="form-group">
<label for="inputPostDescription">Description</label>
<input type="text" name="description">
</div>
<div class="form-group">
<label for="inputGoal">Goal (USD)</label>
<input type="text" name="goal">
</div>
 <button type="submit" class="btn btn-default">Submit</button>
</form>