<h2>Cake Shop</h2>

<p>Your order: </p>

<form action="/project/{{project.id}}/edit" method="post" class="form-horizontal">
  <div class="form-group">
    <label>batter:</label>
    <div>
      	<select>
		  
		</select>
    </div>
  </div>
  <div class="form-group">
    <label>Toppings:</label>
    <div>
      	<select>
		  
		</select>
    </div>
  </div>
 </form>