<h1>View projects</h1>

<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
<div id="titleDiv">
  {{#each projects}}
  <li><a href="/project/{{id}}">{{title}}</a></li>
  {{/each}}
</div>
<div class='indexLink'>
  <select id="sortBy">
    <option value="percentageFunded">Percentage Funded</option>
    <option value="amountFunded">Amount Funded</option>
  </select>
  <select id="order">
    <option value="ascending">Ascending</option>
    <option value="descending">Descending</option>
  </select>
</div>
<button id="sort">Sort</button>
<div class='indexLink'>
  <button id='funded'>View fully funded projects</button>
  <button id='showAll'>Show All</button>
  <button id='unfunded'>View projects that are not fully funded</button>
</div>
<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
<script src="/jquery.js"></script>
<script src="/js/projects.js"></script>
