<h2>Create project</h2>

<!-- Part 2: Create project -->
<!-- Part 5: Project categories -->

<form method="POST" action = "/new">
<input type="text" name="title" value="" placeholder="title">
<input type="number" name="goal" value="" placeholder="goal">
<input type="text" name="description" value="" placeholder="description">
<input type="date" name="start" value="">
<input type="date" name="end" value="">

<div class="form-group">
  <label for="exampleSelect1">Category</label>
  <select name="category" class="form-control" id="category">
    <option value="Oil and Gas">Oil and Gas</option>
    <option value="Food and Beverage">Food and Beverage</option>
    <option value="Technology">Technology</option>
    <option value="Agriculture">Agriculture</option>
    <option value="Manufacturing">Manufacturing</option>
    <option value="Toys and Games">Toys and Games</option>
    <option value="Travel">Travel</option>
    <option value="Other">Other</option>
  </select>
</div>

<input type="submit" name="" value="Launch!">
</form>
