<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HorizonStarter</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>

    {{{body}}}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/contributions.js"></script>
  </body>
</html>
<style media="screen">
  * {
    font-family: 'Raleway', sans-serif;
  }
</style>
