<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HorizonStarter</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="shortcut-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="nav-header">
            <img id="full-logo" src="full-logo.png" alt="">
        </div>
      </nav>

      {{{body}}}

    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
