<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel='icon' type='image/x-icon' href='https://s3-us-west-2.amazonaws.com/horizonsacademy/favicon.ico'>
    <title>Horizon Starter</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <nav class='navbar navbar-default'>
      <div class='navbar-collapse collapse'>
        <ul class='navbar-nav nav'>
          <li>
            <a href='' class="site-nav__item">Explore</a>
          </li>
          <li>
            <a href='' class="site-nav__item">Start a project</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-center">
          <li><a href="/"><img src="/logo.png" alt=""></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
        </ul>
      </div>



      </div>
    </nav>
    {{{body}}}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
