<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HorizonStarter</title>
    <link rel='icon' type='image/x-icon' href='https://s3-us-west-2.amazonaws.com/horizonsacademy/favicon.ico'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class='outer'>
    {{{body}}}
  </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
