<form method="post">
	Title: <input type="text" name="title">
	Category: <input type="text" name="cat">
	Goal: <input type="text" name="goal">
	Total: <input type="text" name="total">
	Start date: <input type="text" name="start">
	End date: <input type="text" name="end">
	<input type="submit">
	</form>