<form method="post">
	<div>Title: <input type="text" name="title"></div>
	<div>Category: <input type="text" name="category"></div>
	<div>Goal: <input type="text" name="goal"></div>
	<div>Total: <input type="text" name="total"></div>
	<div>Start date: <input type="text" name="start"></div>
	<div>End date: <input type="text" name="end"></div>
	<div><input type="submit"></div>
	</form>