<div id = "all_content">
 <div id = "reg_page">
     <h1>New User Registration</h1>
     <form method="POST">
         <input type = "text" class = "fname" name = "fname" placeholder = "{{fname}}">
         <input type = "text" class = "lname" name = "lname" placeholder = "{{lname}}">
         <input type = "text" class = "email" name = "email" placeholder = "{{email}}">
         <input type = "password" class = "password" name = "password" placeholder = "{{password}}"></br>
         <button id="reg_submit" type = "submit">Register</button></br>
         <a href="/api/users/login"><button id="reg_login" type = "button">Go to Login</button></a>
     </form>
 </div>
