<form class="" action="index.html" method="post">
    <input type="user" name="user" value="">
    <input type="password" name="secret" value="">
    <input type="submit" name="" value="">
</form>


<ul>
  {{#each error}}
  <li>{{msg}}</li>
  {{/each}}
</ul>
