<!-- <div> -->
  <!-- YOUR CODE HERE -->
<!-- </div> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>The word <em>
      {{#if isEven}}
        {{word}} has an even number of letters!
      {{else}}
        {{word}} has an odd number of letters!
      {{/if}}
    </em></h1>
  </body>
</html>
