<div>

  <!-- YOUR CODE HERE -->

  <h1>
    {{#if isEven}}
      The word {{word}}> has an even number of letters!
    {{else}}
      The word {{word}} has an odd number of letters!
    {{/if}}

  </h1>
</div>
