<!DOCTYPE html>

<head>
  <title>Checkin' out Conditions yo</title>
</head>
<body>
  <h1 class="text">
    The word
    <em>{{word}}</em>
    {{#if isEven}}
    has
    {{else}}
    does not have
    {{/if}}
    an even number of letters
  </h1>
</body>
