<div>
  <h1>
    The word
  <em>
    {{#if isEven}}
      {{word}} has an even
      {{else}}
      {{word}} has an odd
      {{/if}}
  </em>
  number of letters!
  </h1>
  <!-- YOUR CODE HERE -->
</div>
