<h1>The phrase
  <em style="color: blue">
    '{{word}}'
  </em> has an
  <em style="color: blue">
    {{#if isEven}}
      even
      {{else}}
      odd
    {{/if}}
  </em>
  number of letters :D
</h1>
