<!-- YOUR CODE HERE -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Let's hope this works</title>
</head>
<body>
  <h1>
    {{#if word.isEven}}
    The word "{{word}}" has an even number of letters!
    {{else}}
    The word "{{word}}" has an odd number of letters!
    {{/if}}
  </h1>
</body>
</html>
