<div>
  <!-- YOUR CODE HERE -->

    {{#if isEven}}
    <h1>The word &LT{{word}}&GT has an even number of letters!</h1>
    {{else}}
    <h1>The word &LT{{word}}&GT has an odd number of letters!</h1>
    {{/if}}


</div>
