<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
  </head>
  <body>
{{#if isEven}}
<h1>The word {{word}} has an even number of letters!</h1>
  {{#else}}
    <h1>The word <entered-word-here> has an odd number of letters!</h1>
    {{/if}}

  </body>
</html>
