<div>
  <!-- YOUR CODE HERE -->
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>isEvenTest</title>
    </head>
    <body>
      {{#if isEven}}
        <h1>The word {{req.params.word}} has an even number of letters</h1>
      {{else}}
        <h1>The word {{req.params.word}} has an odd number of letters</h1>
      {{/if}}
    </body>
  </html>
</div>
