<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic Counter</title>
    <script   src="http://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Count: <span id="out"></span><h1>
    <script>
      $(document).ready(function(){

        // $.ajax('/data', {
        //   success: function(data) {
        //     $('#out').text(data.a[1]);
        //   }
        // });
        $.ajax('/', {
          method: 'POST',
          success: function(data){
            $('#out').text(data.count);
          }
        })

        $('#inc').click(function(){
          $.ajax('/increment', {
            method: 'POST',
            success: function(data){
              $('#out').text(data.count);
            }
          });
        });

        $('#dec').click(function(){
          $.ajax('/decrement', {
            method: 'POST',
            success: function(data){
              $('#out').text(data.count);
            }
          });
        });

      });
    </script>
    <button id="inc">Increment</button>
    <button id="dec">Decrement</button>
  </body>
</html>
