<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic Counter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
    $(document).read(function() {
    $('#inc').click(function() {
      $.ajax('/increment', {
        method: 'POST',
        success: function(data) {
          $('#out').text(data.count);
        }
      });
    });
  });
    </script>
  </head>

  <body>
    <h1>Output: <span id='out'></span></h1>

    <button id="inc"> Increment</button>

    {{!-- <form action="/decrement" method="post">
      <input type="submit" value="Decrease">
    </form> --}}
  </body>
</html>
