<!DOCTYPE html>
<head>
  <title>Obligatory Hello World</title>
</head>
<body>
  <div class="container">
    <h1>Hello, world! and hello,
      <em>{{name}}</em>
    </h1>
  </div>
</body>
<style>
  body {
    display: flex;
    background-image: url("https://source.unsplash.com/random");
    width: 100%;
    height: 100%;
  }
  .container {
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  h1 {
    align-self: center;
    color: white;
  }
</style>
