<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>Page title new </title>
  </head>
  <body>
    <h1>Hello<em>
      {{#if greetingName}}
      {{ greetingName}}
      {{else}}
      mysterious stranger
      {{/if}}
    </em></h1>
  </body>
  </html>
