<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>2nd template</title>
  </head>
  <body>
    <h3><em>{{error}}</em> page not found, did you enter the right url? </h3>
  </body>
</html>
