<!-- <!DOCTYPE>
<html>
<head>
  <title>HBS Template</title>
</head>
<body>
  <h1>Hello World</h1>
</body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Error</title>
  </head>
  <body>
    <p>{{theError}} page not found, did you enter the correct url?"</p>
  </body>
</html>
