<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MUA HA HA</title>
  </head>
  <body>
    <h1> <em> {{somethingHere}} </em> </h1>
    <h2> <em>{{someError}} </em> page not found, did you enter the correct url? </h2>
  </body>
</html>
