<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style={{width}}>
    <span class="sr-only">{{goalPercent}} Complete</span>
  </div>
</div>

{{#each project.contributions}}

<span> {{name}} - ${{amount}} </span><br>

{{/each}}


<a href="/" method="post">Look at all the projects</a>
