<h1>View projects</h1>

<!-- Exercise 1: View all projects -->
<!-- YOUR CODE HERE -->

<!-- Exercise 2: Create new project -->
<!-- YOUR CODE HERE -->


<form class="submit" action="/new" method="post">
  {{#each projects}}
    {{ this.title }}</br>
  {{/each}}
  <a href="/new">Create a new project</a>
</form>
