<h1>View projects</h1>

<!-- Exercise 1: View all projects -->
<!-- YOUR CODE HERE -->

<ul>
{{#each items}}
    <li>{{this.title}}</li>
    <a href="/project/{{this._id}}">View Project</a>
{{/each}}
</ul>


<a href="/?sortKey=start&sortVal=1">Sort Projects By Start Date</a><br/>
<a href="/?sortKey=end&sortVal=1">Sort Projects By End Date</a><br/>
<a href="/?sortKey=goal&sortVal=1">Sort Projects By goal</a><br/>
<a href="/?sortKey=contributions&sortVal=1">Sort Projects By Total Contributions</a><br/><br/><br/>

<!-- Exercise 2: Create new project -->
<!-- YOUR CODE HERE -->
<a href="/new">Create a new project</a>
