<h1>View projects</h1>

<!-- Exercise 1: View all projects -->
<ul>
  {{#each items}}
  <li>{{this.title}}</li>
  <a href='/project/{{this._id}}'>click here to see this project!</a>
  {{/each}}


</ul>
<!-- YOUR CODE HERE -->

<!-- Exercise 2: Create new project -->
<!-- YOUR CODE HERE -->
<a href="/new">Create a new project</a>
