<h1>View projects</h1>

<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
<div class="btn-group-vertical" role="group">
  {{#each items}}
    <a class="btn btn-primary" href="/project/{{_id}}">{{title}}</a>
  {{/each}}
</div>
<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
<br>
<br>
<a href="/new">Create new project</a>
