<h1>View projects</h1>

<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
{{#each items}}
  <li> {{this.title}} </li>
{{/each}}

<a href='/new'>Create new project </a>

<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
