<h1>View projects</h1>

<!-- Part 1: View all projects -->
{{#each items}}
<a href="/project/{{id}}"><div>{{title}}</div></a>
{{/each}}

<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
<a href="/new">Create a new project</a>
