
<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
<h1>View projects</h1>
{{#each items }}
  {{this.title}}
{{/each}}
<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
<div>
<a href="http://localhost:3000/new">Create New Project</a>
</div>
