<h1>View projects</h1>
<hr>
<!-- Part 1: View all projects -->
{{#each projects}}
  <div>
    <a href="project/{{_id}}">{{title}}</a>
  </div>
{{/each}}
<hr>


<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
<a href="/new">Create a new project</a>
