<h1>View projects</h1>

<!-- Exercise 1: View all projects -->
<!-- YOUR CODE HERE -->

{{#each items}}
<h4> Title: {{title}} </h4>
<p> Description: {{description}} </p>
{{/each}}


<!-- Exercise 2: Create new project -->
<!-- YOUR CODE HERE -->
<a href="http://localhost:3000/new">Create a new project</a>
