<h1>View projects</h1>

<!-- Part 1: View all projects -->
<!-- YOUR CODE HERE -->
{{#each Project}}
<div>{{this}}</div>
{{/each}}

<!-- Part 2: Create new project -->
<!-- YOUR CODE HERE -->
<a href='http://localhost:3000/new'>Create new project</a>
