<h1 class="page-title text-center">View projects</h1>

<form class="" action="/" method="get">
  <select class="form-control" name="sort">
    <option value="">Default</option>
    <option value="title">Project name</option>
    <option value="start">Start date</option>
    <option value="end">End date</option>
    <option value="goal">Project goal</option>
  </select>
  <div class="radio">
    <label for="ascending"><input type="radio" name="sortDirection" value="ascending" checked> Ascending</label>
    <label for="descending"><input type="radio" name="sortDirection" value="descending"> Descending</label>
  </div>
  <input class="btn btn-default" type="submit" name="" value="Sort">
</form>


<!-- Part 1: View all projects -->
{{#each projects}}
  <div class="row">
    <!-- <div class="col-xs-10 col-xs-offset-1"> -->
      <a class="project-link" href="/project/{{_id}}">
        <div class="project-listing text-center">
          {{title}}
        </div>
      </a>
    <!-- </div> -->
  </div>
{{/each}}

<!-- Part 2: Create new project -->
<div class="new-project">
  <a class="btn btn-default btn-lg pull-right" href="/new">Add new project</a>
</div>
