<div class='projects-container'>

  <h2>Create project</h2>

  <!-- Part 2: Create project -->

  <form method="POST" action="/new">
    <span>
      <div class="project-new">
        <div>
          Title: <input type=text name="title"><br><br>
          Goal: <input type=Number name="goal"><br><br>
          Description: <textarea type="text" name="description"></textarea><br><br>
          Start date: <input type="Date" name="start"><br><br>
          End date: <input type="Date" name="end"><br><br>

          <select name="category">
            {{#each enum}}
                <option value="{{this}}">{{this}}</Option>
            {{/each}}
          </select><br><br>

        </div>
        <input type="submit" value="Submit">
      </div>
    </span>
  </form>
  <button class="btn btn-default btn-sm"><a href="/">Cancel and go back to projects</a></button>
</div>
