<h2>Create project</h2>

<!-- Part 2: Create project -->
<form id="projectForm" action="/new" method="post">
  Title: <input type="text" name="title" value="Title">
  Goal: <input type="number" name="goal" value="1">
  Start: <input type="date" name="start" value="">
  End: <input type="date" name="end" value="">
  <input type="submit" name="" value="Submit">
</form>
<textarea rows="4" cols="40" name="description" form="projectForm">Enter project description</textarea>


<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
