<h2>Create project</h2>


<!-- Exercise 2: Create project -->
<!-- Exercise 5: Project categories -->
<!-- YOUR CODE HERE -->


<form action = "/new" method= "post">
  Title: <input type = "text" name = "title"><br>
  Goal: <input type = "Number" name = "goal"><br>
  Description: <input type = "textarea" name = "description"><br>
  Start: <input type = "date" name = "start"><br>
  End: <input type = "date" name = "end"><br>
  <input type="submit" name="submit" value="submit"></input>
</form>


<a href="http://localhost:3000/">Back to all posts</a>
