<h2>Create project</h2>

<!-- Exercise 2: Create project -->

<form method="POST" action="/new">
 <input type="text" name="title" placeholder="Title"/>
 <input type="text" name="goal" placeholder="Goal"/>
 <textarea type="text" name="description" placeholder="Description"></textarea>
 <input type="Date" name="start" placeholder="Start"/>
 <input type="Date" name="end" placeholder="End"/>

 <div class="form-group">
  <select class="form-control" name="category">
    <option value="Famous Muppet Frogs">Famous Muppet Frogs</option>
    <option value="Current Black Presidents">Current Black Presidents</option>
    <option value="The Pen Is Mightier">The Pen Is Mightier</option>
    <option value="Famous Mothers">Famous Mothers</option>
    <option value="Drummers Named Ringo">Drummers Named Ringo</option>
    <option value="1-Letter Words">1-Letter Words</option>
    <option value='Months That Start with "Feb"'>Months That Start with "Feb"</option>
    <option value="How Many Fingers Am I Holding Up">How Many Fingers Am I Holding Up</option>
    <option value="Potent Potables">Potent Potables</option>
  </select>
  </div>
 <button type="submit">Submit</button>
</form>
<!-- Exercise 5: Project categories -->
<!-- YOUR CODE HERE -->
