<h2>Create project</h2>

<!-- Part 2: Create project -->
<form class="" method="post">
  Title: <br><input type="text" name="title" placeholder="Enter Title"><br>
  Goal: <br><input type="text" name="goal" placeholder="Enter Goal"><br>
  Description: <br><textarea type="text" name="description" placeholder="Enter Description"></textarea><br>
  Start: <br><input type="Date" name="start" placeholder="Start Date"><br>
  End: <br><input type="Date" name="end" placeholder="End Date"><br>
  <br><input type="submit" name="btn submit" value="Submit">
</form>

<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
