<!DOCTYPE html>
<html>
<head>
  <title>Create Project</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body {background-color: white; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <h1>New Project</h1>
    <div class="row">
      <form action="/new" method="post">
        <input type="text" placeholder="Title" name="title" required>
        <input type="text" placeholder="Goal" name="goal" required>
        <input type="textarea" placeholder="description" name="description">
        <input type="date" name="start" required>
        <input type="date" name="end" required>
        <select name="category" required>
          <option value="Famous Muppet Frogs">Famous Muppet Frogs</option>
          <option value="Current Black Presidents">Current Black Presidents</option>
          <option value="The Pen Is Mightier">The Pen Is Mightier</option>
          <option value="Famous Mothers">Famous Mothers</option>
          <option value="Drummers Named Ringo">Drummers Named Ringo</option>
          <option value="1-Letter Words">1-Letter Words</option>
          <option value="Months That Start With 'Feb'">Months That Start With 'Feb'</option>
          <option value="How Many Fingers Am I Holding Up">How Many Fingers Am I Holding Up</option>
          <option value="Potent Potables">Potent Potables</option>
        </select>

        <input type='submit' >
      </form>
    </div>
  </div>
</body>
</html>

<!-- Exercise 2: Create project -->
<!-- Exercise 5: Project categories -->
<!-- YOUR CODE HERE -->
