<h2>Create project</h2>

<!-- Part 2: Create project -->
<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
<form class="" action="/new" method="post">
  Title: <input type="text" name="title" value=""> </br>
  Goal: <input type="text" name="goal" value=""> </br>
  Description: <input type="text" name="description" value=""> </br>
  Start: <input type="Date" name="start" value=""> </br>
  End: <input type="Date" name="end" value=""> </br>
  Category:
  <select name="category">
    <option >Famous Muppet Frogs</option>
    <option >Current Black Presidents</option>
    <option >The Pen Is Mightier</option>
    <option >Famous Mothers</option>
    <option >Drummers Named Ringo</option>
    <option >1-Letter Words</option>
    <option >Months That Start With "Feb"</option>
    <option >How Many Fingers Am I Holding Up</option>
    <option >Potent Potables</option>
  </select>
  <input type="submit" name="" value="Submit">
</form>
