<h2>Create project</h2>

<!-- Part 2: Create project -->
<div class='new-project'>
<form class="new-form" method='POST' action='/new'>
  Title <input type="text" name="title" value="" placeholder="Tile"></br>
  Goal <input type="text" name="goal" value="" placeholder="Project goal"></br>
  Description <input type="textarea" name="description" rows="5" value="" placeholder="Description"></br>
  Start date <input type="date" name="start" value=""></br>
  End date <input type="date" name="end" value=""></br>
  <input class='button' type="submit" name="submit" value="Submit">
</form>
</div>
<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
<a href='/'>Take me back!</a>
