<h2>Create project</h2>
<!-- Part 2: Create project -->
<form class="form" action="/new" method="post">
  <input type="text" name="title" value="title">
  <input type="text" name="goal" value="goal">
  <textarea name="description" rows="8" cols="80"></textarea>
  <input type="date" name="start" value="start">
  <input type="date" name="end" value="end">
  <button type="submit" name="form-submit-button"> Submit </button>
</form>

<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
