<h2>Create project</h2>

<!-- Exercise 2: Create project -->

<form action = '/new' method = 'POST'>
  <input type= 'text' placeholder= 'Title' name= 'title'></input></br>
  <input type= 'Number' placeholder= 'Goal' name= 'goal'></input></br>
  <input type= 'textarea' placeholder= 'Description' name= 'description'></input></br>
  <input placeholder= 'Start' name= 'end' type='date'></input></br>
  <input placeholder= 'Start' name= 'start' type='date'></input></br>
  <input type='submit' name='submit' value='submit'></input>
</form>

<!-- Exercise 5: Project categories -->
<!-- YOUR CODE HERE -->
