<h2>Create project</h2>

<!-- Exercise 2: Create project -->

<form method="POST" action="/new">
  <input type="text" name="title" placeholder="Title"/>
  <input type="text" name="goal" placeholder="Goal"/>
  <textarea type="text" name="description">Description</textarea>
  <input type="Date" name="start" placeholder="Start"/>
  <input type="Date" name="end" placeholder="End"/>
  <select name="category" placeholder="Project category">
    <option value="Famous Muppet Frogs" placeholder="">Famous Muppet Frogs</option>
    <option value="Current Black Presidents" placeholder="">Current Black Presidents</option>
    <option value="The Pen Is Mightier" placeholder="">The Pen Is Mightier</option>
    <option value="Famous Mothers" placeholder="">Famous Mothers</option>
    <option value="Drummers Named Ringo" placeholder="">Drummers Named Ringo</option>
    <option value='Months That Start With "Feb"' placeholder='"'>Months That Start With "Feb</option>
    <option value="How Many Fingers Am I Holding Up" placeholder=''>How Many Fingers Am I Holding Up</option>
    <option value="Potent Potables" placeholder=''>Potent Potables</option>
  </select>
  <button type="submit">Submit</button>
</form>
<!-- Exercise 5: Project categories -->
<!-- YOUR CODE HERE -->
