<h2>Create project</h2>

<!-- Part 2: Create project -->
<form method="POST" action="/new">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="goal" placeholder="goal">
    <textarea name="description" placeholder="description"></textarea>
    <input type="date" name="start">
    <input type="date" name="end">
    <input type="submit" name="submit" value="submit">
</form>
<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
