<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit post</title>
  </head>
  <body>
    <input type="text" name="edit" value="{{}}">
    <input type="submit" name="" value="submit">
  </body>
</html>
