<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>

<body>
  <h1>Login</h1>

  <!-- Part 1: Login form -->

  <!--
    Add an HTML form with `method="POST"` and `action="/login"`.
    This login form should contain a single `<input>` element of `type="text"`
    and `name="username"` and [a submit button](http://www.w3schools.com/html/html_forms.asp)
  -->

  <!-- YOUR CODE HERE -->
  <form class="form-inline" method="post" action="/login">
    <div class="input-group input-group-lg col-xs-3">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-user"></span>
      </span>
      <input class="form-control" name="username" type="text" placeholder="Username">
    </div>
    <input type="submit" class="btn-lg btn-info" value="Login" style="display:inline">
  </form>
  
</body>
</html>
