<!DOCTYPE html>
<html>
<head>
  <title>Create new post</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
  <h1>Create new post</h1>

  <p>{{error}}</p>


  {{#if author}}
    <form action="/posts" method="POST">

      <p><label>Title</label>
      <input type="text" placeholder="Title" name="title"></p>
      <p><label>Body</label>
      <input type="text" placeholder="Body" name="body"></p>
      <p><label>Date</label>
      <input type="text" placeholder="Date" name="date"></p>
      <input type="text" name="author" style="display: none" value="{{author}}">
      <p><input type="submit"></p>
    </form>
  {{/if}}

</body>
</html>
