<!DOCTYPE html>
<html>
<head>
  <title>Create new post</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
  <h1>Create new post</h1>

  <p>{{error}}</p>


  <!-- Exercise 3: Create post  -->
  <!--
    Add an HTML form here with `method="POST"` and `action="/posts"`.
    This login form should have input elements for title, body and date and a submit button.
  -->
  <!-- YOUR CODE HERE -->
  <div class="container">
    <h2>Vertical (basic) form</h2>
    <form action="/posts" method="post">
      <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" name="title" placeholder="Enter title">
      </div>
      <br>
      <div class="form-group">
        <label>Date:</label>
        <input type="date" class="form-control" name="date" placeholder="Enter date">
      </div>
      <br>
      <div class="form-group">
        <label>Body:</label>
        <textarea class="form-control" rows="5" name="body"></textarea>
      </div>
      <br>
      <button type="submit" class="btn btn-default" value="submit">Submit</button>
    </form>
  </div>


</body>
</html>
