<!DOCTYPE html>
<html>
<head>
  <title>Create new post</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
  <h1>Create new post!</h1>


    <p>{{error}}</p>


  <!-- Part 3: Create post  -->
  <!--
    Add an HTML form here with `method="POST"` and `action="/posts"`.
    This login form should have input elements for title, body and date and a submit button.
  -->
  <form class="new-post-form" action="/posts" method="POST">
    <div class="new-post-form-wrapper">
      <input id="titleFld" type="text" name="title" value="{{title}}" placeholder="Title"> <br>
      <input id="txt-Area" type="textarea" name="body" value="{{body}}" placeholder="Write your post here..."><br>
      <input id="dateFld" type="date" name="date" value="{{date}}"><br>
      <input id="login-button" type="submit" name="post" value="Post!"> <br>
    </div>
  </form>

</body>
</html>
