<!DOCTYPE html>
<html>
<head>
  <title>Create new post</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>

 <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body>





  <!-- Part 3: Create post  -->
  <!--
    Add an HTML form here with `method="POST"` and `action="/posts"`.
    This login form should have input elements for title, body and date and a submit button.
  -->
  <!-- YOUR CODE HERE -->
  <div class="form-container col-xs-offset-4 col-xs-4">
    <h1 class = 'header'>CREATE POST</h1>
    <form action="/posts" method="POST" class = "" id= "new-post-form">
      <input type="text" class = "input" name="title" value="" placeholder="Title">
      <input type="text" class = "input" name="body" value="" placeholder="Post body">
      <input type="date" class = "input" name="date" value="">
      <input type="submit" class="input" name="" value="Submit">
    </form>

    <p>{{error}}</p>
  </div>


</body>
</html>
