<!DOCTYPE html>
<html>
<head>
  <title>Create new post</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
  <div class="newpost-group">
    <h1 id="create-new">Create new post</h1>

    <p>{{error}}</p> <!-- check to make sure that posts are valid, if not an error goes here-->


    <!-- Part 3: Create post  -->
    <!--
      Add an HTML form here with `method="POST"` and `action="/posts"`.
      This login form should have input elements for title, body and date and a submit button.
    -->

      <form method="POST" action="/posts">
        <div class="form-group">
          <span>
            <label for="inputTitle">Title: </label>
            <input type="text" name="titleTextBox" value="{{titleVal}}" placeholder="Title"><br><br>
            <label for="inputBody">Body: </label>
            <textarea type="text" name="bodyTextBox" value="{{bodyVal}}" class="body-box" placeholder="Body"></textarea><br><br>
            <label for="inputDate">Date: </label>
            <input type="date" name="dateTextBox" value="{{dateVal}}"><br><br>
            <input type="submit" value="Submit">
          </span>
        </div>
      </form>

  </div>
</body>
</html>
