<!DOCTYPE html>
<html>
<head>
  <title>Create new post</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<style>
.hidden{
  display: none;
}

</style>
<body>
  <h1>Create new post</h1>

  <p>{{error}}</p>


  <!-- Exercise 3: Create post  -->
  <!--
    Add an HTML form here with `method="POST"` and `action="/posts"`.
    This login form should have input elements for title, body and date and a submit button.
  -->

<form name="myPost" method="POST" action="/posts">
  <input type="text" name="author" placeholder="Author">  
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="body" placeholder="Body">
  <input type="text" name="date" placeholder="Date">
  <button type="submit">Submit</button>
</form>

</body>
</html>
