<h1>Posts</h1>

<!-- Iterate over al the posts using {{#each posts}} {{title}} {{/each}} to
display them on the page. Add a couple of buttons to sort ascending/descending
and to create new post! -->


<!-- YOUR CODE HERE -->
