<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title> Page Title </title>
	</head>
	<body>
		<div>
  			<ul>
  				{{#if this.gender === female}}
					{{#each data}}
						<li> {{this.first_name}} {{this.last_name}} </li>
					{{/each}}
				{{/if}}
			</ul>
		</div>
	</body>
</html>