<!DOCTYPE html>
<html>
<head>
	<title>Directory</title>
</head>
<body>
	<h1>Student Directory: Female</h1>
	{{#each females}}
	<h4>{{this.firstName}} {{this.lastName}}</h4>
	<li>Email: {{this.email}}</li>
	<li>Gender: {{this.gender}}</li>
	{{/each}}
</body>
</html>