<div>
  <span><!DOCTYPE html>

        <ul>
          {{#each students}}
            <li>
                 First Name: {{first_name}}
                 Last Name: {{last_name}}
                 Email: {{email}}
                 Gender: {{gender}}
            </li>
            {{/each}}
        </ul>


</span>
</div>
