<div>
  <span>

    <table>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
      {{#each data}}
        <tr>
          <td>{{first_name}}</td>
          <td>{{last_name}}</td>
          <td>{{email}}</td>
        </tr>
      {{/each}}
    </table>
  </span>
</div>
