<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student listings</title>
  </head>
  <body>
    {{#each students}}
      <ul>
        <li>{{this.first_name}}</li>
        <li>{{this.last_name}}</li>
        <li>{{this.email}}</li>
      </ul>
    {{/each}}
  </body>
</html>
