<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="students-format">
      <ul>
        {{#each students}}
          <li>
               First Name: {{first_name}}
               Last Name: {{last_name}}
               Email: {{email}}
               Gender: {{gender}}
          </li>
        {{/each}}
      </ul>

    </div>
  </body>
</html>
