<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: white; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>{{profile}}</h1>
      <h2>{{dob}}</h2>
      <h2>{{gender}}</h2>
      <p>{{bio}}</p>
    </div>
  </div>
</body>
</html>
