<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Successful registration!</h1>
      <p><label>User</label>: {{firstName}} {{middle}}. {{lastName}} </p>
      <p><label>Date of birth</label>: {{dob}}</p>
    </div>
  </div>
</body>
</html>
