<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Your profile:</h1>
    </div>
    <div>
      Name: {{name}}
    </div>
    <div>
      Date: {{date}}
    </div>
    <div>
      Gender: {{gender}}
    </div>
    <div>
      {{#if bio}}
      Bio: {{bio}}
      {{/if}}
    </div>
    </div>
  </div>
</body>
</html>
