<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
  body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <h1>Registration Form</h1>

    {{#each errors}}
      <li>{{msg}}</li>
    {{/each}}

    <form method="post">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="firstName" class="form-control" id="firstName" name="firstName" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="middleName">Middle Initial</label>
        <input type="middleName" class="form-control" id="middleName" name="middleName" placeholder="Middle Initial">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="lastName" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="DOB">DOB</label>
        <input type="date" class="form-control" id="dob" name="dob">
      </div>
      <div class="form-group">
        <label for="InputPassword">Password</label>
        <input type="password" class="form-control" id="InputPassword1" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="InputPassword">Repeat Password</label>
        <input type="password" class="form-control" id="InputPassword1" name="repeatPassword" placeholder="Repeat Password">
      </div>

      <fieldset class="form-group">
        <legend>Gender</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Male
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
            Female
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
            Prefer not to say
          </label>
        </div>
      </fieldset>

      <div class="form-check">
        <label class="form-check-label">Sign up for newsletter
          <input type="checkbox" class="form-check-input">
        </label>
      </div>
      <br>
      <div class="form-group">
        <label for="biography">Biography</label>
        <textarea class="form-control" id="biography" name="biography" placeholder="Biography"></textarea>
      </div><br>
      <button type="register" class="btn btn-primary">Register</button>
    </form>

  </div>
</div>
</body>
</html>
