<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div>
      {{#if errors}}
      <strong>Errors:</strong>
      <ul>
        {{#each errors}}
          <li>{{this.msg}} </li>
        {{/each}}
      </ul>
      {{/if}}</div>
    <div class="row">
      <form action="/register" method="post">
        <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name" name="firstName" required>
      </div>

        <div class="form-group">
        <input type="text" class="form-control" placeholder="Middle Initial" name="inital">
      </div>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name" name="lastName" required>
      </div>
        <div class="form-group">
        <input type="date"  class="form-control" name="dob">
      </div>
        <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="password" required>
      </div>
        <div class="form-group">
        <input type="password" class="form-control" placeholder="Repeat Password" name="repeatpassword" required>
      </div>
        <div class="form-group">
            <input type="radio" name="gender" value="Male"> Male<br>
            <input type="radio" name="gender" value="Female"> Female <br>
            <input type="radio" name="gender" value="Other" checked> Other <br>
          </div>
            <div class="form-group">
        <div class="checkbox">
          <label><input type="checkbox" value="">Sign-up for newsletter</label>
        </div>
      </div>
        <div class="form-group">
        <input type="textarea"  class="form-control" placeholder="Biography" name="bio">
      </div>
        <input type="submit">
      </form>

    </div>
  </div>
</body>
</html>
