<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div><strong>
      {{#each errors}}
        {{msg}}
      {{/each}}
    </strong>{{errors}}</div>
    <!-- <div class="row">
      <form action="/register" method="post">
        <input type="text" placeholder="First Name" name="firstName" required>
        <input type="submit">
      </form> -->
    <!-- </div>
  </div> -->

  <div class="container">
              <form class="form-horizontal" role="form" action = "/register" method = "POST">
                  <h2>Registration Form</h2>

                  <!-- first name  -->
                  <div class="form-group">
                      <label for="firstName" class="col-sm-3 control-label">First Name </label>
                      <div class="col-sm-9">
                          <input type="text" id="firstName" placeholder="First Name" class="form-control" autofocus >
                      </div>
                  </div>

                  <!-- middle initial  -->
                  <div class="form-group">
                      <label for="middleInitial" class="col-sm-3 control-label">Middle Initial</label>
                      <div class="col-sm-9">
                          <input type="text" id="middleInitial" placeholder="Middle Initial" class="form-control" autofocus>
                      </div>
                  </div>

                  <!-- last name  -->
                  <div class="form-group">
                      <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                      <div class="col-sm-9">
                          <input type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus >
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                      <div class="col-sm-9">
                          <input type="date" name = "birthDate" id="birthDate" class="form-control">
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="password" class="col-sm-3 control-label">Password</label>
                      <div class="col-sm-9">
                          <input type="password" id="password" placeholder="Password" class="form-control" >
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="confirm_password" class="col-sm-3 control-label">Confirm  Password</label>
                      <div class="col-sm-9">
                          <input type="password" id="confirm_password" placeholder="Repeat Password" class="form-control" >
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="control-label col-sm-3"  >Gender</label>
                      <div class="col-sm-6">
                          <div class="row">
                              <div class="col-sm-4">
                                  <label class="radio-inline">
                                      <input type="radio" id="femaleRadio" value="Female">Female
                                  </label>
                              </div>
                              <div class="col-sm-4">
                                  <label class="radio-inline">
                                      <input type="radio" id="maleRadio" value="Male">Male
                                  </label>
                              </div>
                              <div class="col-sm-4">
                                  <label class="radio-inline">
                                      <input type="radio" id="uncknownRadio" value="Unknown">Prefer not to say
                                  </label>
                              </div>
                          </div>
                      </div>
                  </div> <!-- /.form-group -->
                </div> <!-- ./container -->

                <div class="form-group">
                    <label for="biograhpy" class="col-sm-3 control-label">Confirm  Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="confirm-password" placeholder="Repeat Password" class="form-control">
                    </div>
                </div>

                  <div class="form-group">
                      <div class="col-sm-9 col-sm-offset-3">
                          <div class="checkbox">
                            <!-- required may be in wrong location  -->
                              <label>
                                  <input type="checkbox">Sign up for newsletter <a href="#">terms</a>
                              </label>
                          </div>
                      </div>
                  </div> <!-- /.form-group -->
                  <div class="form-group">
                      <div class="col-sm-9 col-sm-offset-3">
                          <button type="submit" class="btn btn-primary btn-block">Register</button>
                      </div>
                  </div>
              </form> <!-- /form -->



</body>
</html>
