<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <h1>Register SVP</h1>
    <div><strong>Errors:</strong>
      {{#each errors}}
        <li>{{msg}}</li>
      {{/each}}
    </div>
    <div class="row">
      <form action="/register" method="post">
        <input type="text" name="fname" value="" placeholder="First Name">
        <input type="text" name="mname" value="" placeholder="Middle Name">
        <input type="text" name="lname" value="" placeholder="Last Name"> <br>
        <input type="date" name="dofbirth" value=""><br>
        <input type="password" name="password" value="" placeholder="Password">
        <input type="password" name="reppassword" value="" placeholder="Repeat Password"><br>
        <input type="radio" name="gender" value="male" > Male
        <input type="radio" name="gender" value="female"> Female
        <input type="radio" name="gender" value="other"> Other<br>
        <input type="checkbox" name="newsletter" value="yes">Subscribe to Newsletter<br>
        <input type="textarea" name="bio" value="" placeholder="Biography">
        <input type="submit">
      </form>
    </div>
  </div>
</body>
</html>
