<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <h3>
      <form action="/register"  method="post">
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">First Name</label>
        <div class="col-10">
          <input class="form-control" type="firstName" name = 'firstName' placeholder="First Name" id="example-text-input">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-search-input" class="col-2 col-form-label">Middle Initial</label>
        <div class="col-10">
          <input class="form-control" type="midInitial" name = 'midInitial' placeholder="Middle Initial" id="example-search-input">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-email-input" class="col-2 col-form-label">Last Name</label>
        <div class="col-10">
          <input class="form-control" type="lastName" name = 'lastName' placeholder="Last Name" id="example-email-input">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-url-input" class="col-2 col-form-label">D.O.B.</label>
        <div class="col-10">
          <input class="form-control" type="Date" name = 'date' placeholder="https://getbootstrap.com" id="example-url-input">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-tel-input" class="col-2 col-form-label">Password</label>
        <div class="col-10">
          <input class="form-control" type="password" name = 'password' placeholder="Password" id="example-tel-input">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-password-input" class="col-2 col-form-label">Repeat Password</label>
        <div class="col-10">
          <input class="form-control" type="password" name = 'passwordRep' placeholder="Repeat Password" id="example-password-input">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label" name="gender">Gender</label>
        <div class="col-10">
          <label class="radio-inline">
            <input type="radio" name="optradio">Male
          </label><br>
          <label class="radio-inline">
            <input type="radio" name="optradio">Female
          </label><br>
          <label class="radio-inline">
            <input type="radio" name="optradio">Other
          </label>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-datetime-local-input" class="col-2 col-form-label">Sign up for newsletter</label>
        <div class="col-10">
          <input class="form-control" type="radio" name = 'newsletter' id="example-datetime-local-input">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Biography</label>
        <div class="col-10">
          <input class="form-control" type="text" name = 'biography' placeholder="Biography" id="example-date-input">
        </div>
      </div>
      <input type="submit" name="register" value="register">
    </form>
    </h3>
    <div><strong>Errors:</strong>{{errors}}</div>
    <div class="row">
      <form action="/register" method="post">
        <input type="text" placeholder="First Name" name="firstName" required>
        <input type="submit">
      </form>
    </div>
  </div>
</body>
</html>
