<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <h1>Put your registration form here</h1>
    <div class="container">
  <form action= "/register" method="post">
    <div class="form-group row">
      <label for="fName" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="fName" placeholder="First Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="mInitial" class="col-sm-2 col-form-label">Middle Initial</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="mInitial" placeholder="Middle Initial">
      </div>
    </div>
    <div class="form-group row">
      <label for="lName" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="lName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="DOB" class="col-sm-2 col-form-label">DOB</label>
      <div class="col-sm-10">
        <input class="form-control" type="date" name="DOB">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="inputPassword3" placeholder="Password">
      </div>
    </div>

  <div class="form-group row">
    <label for="repPass" class="col-sm-2 col-form-label">Repeat Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="repPass" placeholder="Repeat Password">
    </div>
  </div>
    <fieldset class="form-group row">
      <legend class="col-sm-2 col-form-legend">Gender</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="male" checked>
            Male
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="female">
            Female
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
            Prefer not to say
          </label>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <label class="col-sm-2">Sign up for newsletter</label>
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" name="chkBox" type="checkbox">
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
   <label for="bio">Biography</label>
   <textarea class="form-control" id="bio" rows="3" placeholder="Biography"></textarea>
 </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </form>
</div>
    <div><strong>Errors:</strong></div>
    <ul>
      {{#each errors}}
      <li>{{this.msg}}</li>
      {{/each}}
    </ul>
  </div>
</body>
</html>
