<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div>
      {{#each errors}}
      <div class="alert alert-danger">
        {{this.msg}}
      </div>
      {{/each}}
    </div>
    <div class="row">
      <form action="/register" method="post" class="well form-horizontal col-xs-6">
          <!-- YOUR CODE HERE -->
          <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">First Name</label>
            <div class="col-sm-6">
              <div class="input-group">
                <input type="text" name="firstName" class="form-control" placeholder="First Name" required>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Middle Initial</label>
            <div class="col-sm-6">
              <div class="input-group">
                <input type="text" name="middleInitial" class="form-control" placeholder="Middle Initial">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Last Name</label>
            <div class="col-sm-6">
              <div class="input-group">
                <input type="text" name="lastName" class="form-control" placeholder="Last Name" required>
              </div>
            </div>
          </div>



          <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Date of Birth</label>
            <div class="col-sm-6">
              <div class="input-group">
                <input type="date" class="form-control" name="dateOfBirth" placeholder="yyyy-mm-dd">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 col-sm-offset-1 control-label">Password</label>
            <div class="col-sm-6">
              <div class="input-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4  control-label">Confirm Password</label>
            <div class="col-sm-6">
              <div class="input-group">
                <input type="password" class="form-control" name="confirmPassword" placeholder="Password" required>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4  control-label">Gender</label>
            <div class="col-sm-6">
              <div class="input-group">
                <input type="radio" name="gender" value="male" required> Male<br>
                <input type="radio" name="gender" value="female" required> Female<br>
                <input type="radio" name="gender" value="other" required> Rather not say<br>              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4  control-label">Recieve our newsletter?</label>
            <div class="col-sm-6">
              <div class="input-group">
                <div class="checkbox">
                  <label><input type="checkbox" name="newsletter" value="">Absolutely!</label>
                </div>
              </div>
            </div>
          </div>

        <div class="form-group">
          <label class="col-sm-4  control-label">Biography</label>
          <div class="col-sm-6">
            <div class="input-group">
              <textarea type="text" placeholder="Bio" name="bio"></textarea><br>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4  control-label"></label>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="submit" class="btn btn-primary">
            </div>
          </div>
        </div>


      </form>
    </div>
  </div>
</body>
</html>
