<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <h1>Put your registration form here</h1>
    <div><strong>Errors:</strong>
      <ul>
        {{#each errors}}
          <li> {{this.msg}} </li>
        {{/each}}
      </ul>
    </div>
    <div class="row">
      <form action="/register" method="post">
        <input type="text" placeholder="First Name" name="firstName" required>
        <input type="text" name="middleName" placeholder="Middle Name">
        <input type="text" placeholder="Last Name" name="lastName" required>
        <input type="date" name="date" placeholder="Date of Birth">
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="passwordRepeat" placeholder="Re-enter Password" required>

        <div class="radio">
  <label><input type="radio" name="optradio" value='Male' required>Male</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" value='Female'>Female</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" value='Prefer Not To Say'>Prefer not to say </label>
</div>

<div class="checkbox">
  <label><input type="checkbox" value="newsletter" required>Sign up for newsletter</label>
</div>

<div class="form-group">
  <label for="comment">Biography </label>
  <textarea class="form-control" rows="5" name="bio" placeholder="About yourself"></textarea>
</div>

        <input type="submit">
      </form>
    </div>
  </div>
</body>
</html>
