<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}

    .bg-white {
    background-color: #ffffff !important;
    }
  </style>
</head>
<body>
    <div class="container">
      <form class="bg-white form-horizontal" action=" " method="post"  id="contact_form">
      <fieldset>

      <!-- Form Name -->
      <legend class="text-center">Registration Form</legend>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">First Name</label>
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
        <span class="input-group-addon"></i></span>
        <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Middle Initial</label>
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
        <span class="input-group-addon"></i></span>
        <input  name="first_name" placeholder="Middle Initial" class="form-control"  type="text">
          </div>
        </div>
      </div>


      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label" >Last Name</label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
        <span class="input-group-addon"></span>
        <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">DOB</label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"></i></span>
        <input name="dob" placeholder="" class="form-control" type="date">
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Password</label>
         <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"></span>
        <input name="password" placeholder="Password" class="form-control" type="password">
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Repeat Password</label>
         <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"></span>
        <input name="repeatPassword" placeholder="Password" class="form-control" type="repeatPassword">
          </div>
        </div>
      </div>

      <!-- radio checks -->
       <div class="form-group">
                              <label class="col-md-4 control-label">Gender</label>
                              <div class="col-md-4">
                                  <div class="radio">
                                      <label>
                                          <input type="radio" name="gender" value="male" /> Male
                                      </label>
                                  </div>
                                  <div class="radio">
                                      <label>
                                          <input type="radio" name="gender" value="female" /> Female
                                      </label>
                                  </div>
                                  <div class="radio">
                                      <label>
                                          <input type="radio" name="gender" value="preferNotToSay" /> Prefer not to say
                                      </label>
                                  </div>
                              </div>
                          </div>

      <!-- radio checks -->
       <div class="form-group">
                              <label class="col-md-4 control-label">Sign Up for newsletter?</label>
                              <div class="col-md-4">
                                  <div class="checkbox">
                                      <label>
                                          <input type="checkbox" name="newsletter" value="signup" />
                                      </label>
                                  </div>
                              </div>
                          </div>
      <!-- Text area -->

      <div class="form-group">
        <label class="col-md-4 control-label">Biography</label>
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"></span>
              	<textarea class="form-control" name="biography" placeholder="Biography"></textarea>
        </div>
        </div>
      </div>

      <!-- Success message -->
      <!-- <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div> -->

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary pull-right">Register</button>
        </div>
      </div>

      </fieldset>
      </form>
      </div>
    </div><!-- /.container -->

    <div><strong>Errors:</strong>{{errors}}</div>
  </div>
</body>
</html>
