<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
  body { background-color: #f7f7f7; padding-top: 2em; padding: 40px;}
  </style>
</head>
<body>
  <div class="container">
    <h1>Register</h1>

    {{#if errors}}
    {{#each errors}}
    <div class="alert alert-warning">
      <strong>{{msg}}</strong>
    </div>
    {{/each}}
    {{/if}}

    <!-- form -->
    <div class="row">
      <form action="/register" method="post">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input name="firstName" type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="midInit">Middle Initial</label>
          <input name="midInit" type="text" class="form-control" id="midInit" aria-describedby="midInit" placeholder="Middle Initial">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input name="lastName" type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Last Name">
        </div>

        <div class="form-group">
          <label for="dob">DOB</label>
          <input name="dob" type="date" class="form-control" id="dob" aria-describedby="dob" placeholder="DOB">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input name="password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="password2">Password</label>
          <input name="password2" type="password" class="form-control" id="password2" placeholder="Confirm password">
        </div>

        <fieldset class="form-group">
          <label for="gender">Gender</label>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="gender" id="male" value="male" checked>
              Male
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="gender" id="female" value="female">
              Female
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="gender" id="rathernotsay" value="n/a">
              Rather not say
            </label>
          </div>
        </fieldset>
        <div class="form-check">
          <label class="form-check-label">
            <input name="newsletter" type="checkbox" class="form-check-input" name="newsletter">
            Join the newsletter
          </label>
        </div>
        <div class="form-group">
          <label for="bio">Biography</label>
          <textarea name="biography" class="form-control" id="bio" rows="3" placeholder="Write a bit about yourself"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br><br>
  </div>
</div>
</body>
</html>
