<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AJAX Counter</title>
  </head>
  <body>
    <h1>Count: <span id="count">{{count}}</span></h1>
    <form action="/up" method="post">
      <input id="up" type="submit" value="Up">
    </form>
    <form action="/down" method="post">
      <input id="down" type="submit" value="Down">
    </form>

    <script src="/jquery.js"></script>
    <script>
      // YOUR CODE HERE
      $('#up').on('click', function(event){
        event.preventDefault()
        count = $('#count').text() * 1 + 1;
        $.ajax({
          url: '/up',
          method: 'post',
          success: function(res) {
            $('#count').text(res.count);
          }
        })
      });

      $('#down').on('click', function(event){
        event.preventDefault()
        count = $('#count').text();
        $.ajax({
          url: '/down',
          method: 'post',
          success: function(res) {
            $('#count').text(res.count);
          }
        })
      });

    </script>
  </body>
</html>
