<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AJAX Counter</title>
  </head>
  <body>
    <h1>Count: <span id="count">{{count}}</span></h1>
      <input id="up" type="submit" value="Up">
      <input id="down" type="submit" value="Down">

    <script src="/jquery.js"></script>
    <script>
      var curr = $("#count").text();
      $("#down").on("click", function(e) {
        $.ajax("/down", {
          method: "POST",
          success: function() {
            $("#count").text(--curr);
          }
        });
      });
      $("#up").on("click", function(e) {
        $.ajax("/up", {
          method: "POST",
          success: function() {
            $("#count").text(++curr);
          }
        });
      });
    </script>
  </body>
</html>
