<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AJAX Counter</title>
  </head>
  <body>
    <h1>Count: <span id="count">{{count}}</span></h1>
    <form action="/up" method="post">
      <input id="up" type="submit" value="Up">
    </form>
    <form action="/down" method="post">
      <input id="down" type="submit" value="Down">
    </form>

    <script src="/jquery.js"></script>
    <script>
    // YOUR CODE HERE
    $('#up').on('click', function(event){
      event.preventDefault();

      var updatedCounter = $('#count').text();
      var num = parseInt(updatedCounter);
      num++;
      $.ajax({
        url: '/up',
        method:'post',
        data:{
          count: num
        },
        success: function(res){
          console.log('success', num, res);
          $('#count').html(num);
        }
      });
    })

    $('#down').on('click', function(event){
      event.preventDefault();

      var updatedCounter = $('#count').text();
      var num = parseInt(updatedCounter);
      num--;
      $.ajax({
        url: '/down',
        method:'post',
        data:{
          count: num
        },
        success: function(res){
          console.log('success', num, res);
          $('#count').html(num);
        }
      });
    })
    </script>
  </body>
</html>
