<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AJAX Counter</title>
  </head>
  <body>
    <h1>Count: <span id="count">{{count}}</span></h1>
    <form action="/up" method="post">
      <input id="up" type="submit" value="Up">
    </form>
    <form action="/down" method="post">
      <input id="down" type="submit" value="Down">
    </form>

    <script src="/jquery.js"></script>
    <script>
      // YOUR CODE HERE
      $('#up').on('click',function(event){
        event.preventDefault();
        $.ajax({
          url: '/up',
          method:'post',
          success:function(res){
            $('#count').text(res.count); //res.count is the json object
          }
        })
      })
      $('#down').on('click',function(event){
        event.preventDefault();
        $.ajax({
          url: '/down',
          method:'post',
          // data: {
          //   count: count
          // },
//no need to send the data to the ajax request there's already object in the server
          success:function(res){
            $('#count').text(res.count);
          }
        })
      })
    </script>
  </body>
</html>
