<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AJAX Counter</title>
  </head>
  <body>
    <h1>Count: <span id="count">{{count}}</span></h1>
    <form action="/up" method="post">
      <input id="up" type="submit" value="Up">
    </form>
    <form action="/down" method="post">
      <input id="down" type="submit" value="Down">
    </form>

    <script src="/jquery.js"></script>


    <script>
    $('#up').on('click' function(req, res){
      event.preventDefault();
      $.ajax({
        url: "/up",
        method: "post",
        // data: {
        //   count: count
        // },
        success: function(res){
          console.log('success! count: ' + res.body.count);
          $(#count).text(res.body.count);
        }
      })
    })

    $('#down').on('click' function(req, res){
      event.preventDefault();
      $.ajax({
        url: "/down",
        method: "post",
        // data: {
        //   count: count
        // },
        success: function(res){
          console.log('success! count: ' + res.body.count);
          $(#count).text(res.body.count);
        }
      })
    })
    </script>
  </body>
</html>
