<!-- in views add a view (myView.hbs) which prints a passed 'name' in a table(
) 'num' times.
ex. res.render('myView',{name: 'Rick', num: '5'})
shows Rick five times -->
<ul>
  {{#each arr}}
  <li>{this}</li>
</ul>
