<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em; justify-content: center;}
  </style>
</head>
<body>
  <div class="container">
    <h1>Put your registration form here</h1>
    {{#if errors}}<div><strong>Errors:</strong>{{errors}}</div>{{/if}}
    <div class="row col-md-6 col-md-offset-3">
      <form action="/register" method="post">
        <input class="form-control" type="text" placeholder="First Name" name="firstName" required>
        <input class="form-control" type="text" placeholder="Middle Initial" name="middleInitial">
        <input class="form-control" type="text" placeholder="Last Name" name="lastName" required>
        <select name="DOBmonth" class="form-control">
        {{#each mo}}
        <option>{{this}}</option>
        {{/each}}
        </select>
        <select name="DOBday" class="form-control">
        {{#each day}}
        <option>{{this}}</option>
        {{/each}}
        </select>
        <select name="DOByear" class="form-control">
        {{#each year}}
        <option>{{this}}</option>
        {{/each}}
        </select>
        <input class="form-control" type="password" placeholder="Password" name="Pwd" required>
        <input class="form-control" type="password" placeholder="Repeat Password" name="repeatPwd" required>
        <div class="radio">
          <label><input type="radio" name="gender" value="male">Male</label>
          <label><input type="radio" name="gender" value="female">Female</label>
          <label><input type="radio" name="gender" value="nonbinary">Nonbinary</label>
          <label><input type="radio" name="gender" value="other">Other</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="" name="newsLetter">Sign up for newsletter</label>
        </div>
          <div class="form-group">
          <label for="comment">Bio:</label>
          <textarea class="form-control" rows="5" id="comment" name="bio"></textarea>
        </div>
        <div class="form-group">
          <input type="submit">
        </div>
      </form>
    </div>
  </div>
</body>
</html>
