<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
  {{#if errors}}
      <ul>Errors:
        {{#each errors}}
          <li>{{msg}}</li>
        {{/each}}
      </ul>
    {{/if}}
    <form class="form-horizontal" method="post">
    <div class="form-group">
      <label class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-10">
        <input name="firstName" type="text" class="form-control" placeholder="First name" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Middle Initial</label>
      <div class="col-sm-10">
        <input name="middleInital" type="text" class="form-control" placeholder="Middle initial">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-10">
        <input name="lastName" type="text" class="form-control" placeholder="Last name" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">DOB Month</label>
      <div class="col-sm-10">
        <select name="month" class="form-control" >
          {{#each month}}
            <option>{{this}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">DOB Day</label>
      <div class="col-sm-10">
        <select name="day" class="form-control"">
          {{#each daysOfMonth}}
            <option>{{this}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">DOB Year</label>
      <div class="col-sm-10">
        <select name="year" class="form-control">
          {{#each years}}
            <option>{{this}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input name="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Repeat Password</label>
      <div class="col-sm-10">
        <input  type="password" name="passwordRepeat" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Gender</label>
        <div class="radio">
          <label>
            <input type="radio" name="female" id="optionsRadios1" value="option1" checked>
            Female
          </label>
          <label>
            <input type="radio" name="male" id="optionsRadios2" value="option2">
            Male
          </label>
           <label>
            <input type="radio" name="prefNot" id="optionsRadios3" value="option3">
            Prefer not to say
          </label>
        </div>
   
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox">Signup for newsletter
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
       <label class="col-sm-2 control-label">Biography</label>
       <div class="col-sm-10">
          <textarea class="form-control" name="bio" placeholder="Biography" rows="3"> </textarea>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Register</button>
      </div>
    </div>
  </form>
  </div>
</body>
</html>
