{{#each projects}}
	<div class='projects'>
	<a href="/projects/{{_id}}"> Title: {{title}} </a> <br>
	<a href="/projects/{{_id}}"> Description: {{description}}</a>
	</div>
	{{/each}}

<a href="/new">Create new project</a>